@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
/*No es lo más apropiado importar, mejor descargar y buscar en el disco del servidor*/
*{
    margin: 0; /*Espaciado del borde de a caja hacia afuera(saca de afuera)*/
    padding: 0; /*Espaciado desde el borde de la caja hacia adentro (saca de adentro)*/
    box-sizing: border-box; /* Exactly the padding indicated */
    font-family: Raleway;
    font-weight:bold;
    list-style: none;
    text-decoration: none;
}
/*Ver a qué categoría pertence, si es RELLENO o ESTRUCTURA.
Crear varios archivos css que trabajen distintos aspectos y elementos del html(modularidad). */

/*SaaS permite modularizar todo el archivo css sin comentarios, espacios, líneas ni tabulaciones, compi
lando todo el archivo en uno */



html, body{
    padding: 0;
    margin: 0
}
.box{
    margin: 15px;
    padding: 18px;
    border: 1px solid rgb(144, 143, 143);
    border-radius: 3%;
    background-color: rgb(243, 177, 177);
}

.main-header{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-blend-mode: multiply;
    background-color: rgb(0, 0, 0, 0.1);
    background-image: url(images/chess-set.png);
    background-size: cover;
}
.main-header-links ul{
    padding-right: 8em;
    display: flex;
}
.main-header-links li{
    margin-top: 0px;
    list-style: none;
    padding: 10px;
}
.main-header-links a{
    font-size: 1.5em;
    text-decoration: none;
    padding: 1rem;
    color: white;
    display: block;
}
.main-header-links li:hover{
    background-color:rgb(0, 0, 0, 0.1);
}
@font-face{
    src: url("fonts/Courgette-Regular.ttf") format("woff"),
            url("fonts/Courgette-Regular.ttf") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-family:"courgette ";
    
}
.brand-name{
    
    display: flex;
    text-align: left;
    margin:0;
    font-size: 3.8em;
    font-family:"courgette";
    color: white;
}
.brand-name-welcome{
    color:rgba(73, 44, 1, 0.815);
    font-size:larger;
}
.large{
    
    display: flex;
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    padding-bottom: 50px;
    text-align: left;
    font-size: 7em;
    color: gold;
}

.toggle-button {
    display: flex;
    height: 210px;
    width: 200px;
    position:relative;
    float: right;
    overflow-x: hidden;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    padding-top: 60px;
 }
.toggle-button a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.toggle-button a:hover {
    color: #f1f1f1;
}

.toggle-button .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.bar{
    display:inline-block;
}
.hamburguer{
    position:sticky;
    display: none;
    margin-top:0.54em;
    padding-left: 0.7em;
    margin-right: 1.5em;
    border-radius: 1px;
    color: white;
    font-size:50px;
    cursor:pointer;
}
.hamburguer:hover{
    background-color: rgb(0, 0, 0, 0.1);
}



.nav-menu {
    display: none;
    margin-right: 4.6578em;
    float: left;
    justify-content: space-between;
    align-items: left;
    background-color: rgb(36, 34, 34, 0.822);
    transition: 0.5s;
    
}
.nav-item {
    margin-left: 0;
    padding:15px;
}
.nav-item a{
    font-size: 1.6rem;
    font-weight: 800;
    color: white;
}
.content{
    padding:10px;
    border-radius: 2%;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.85);;
}
.content-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.content-section{
    margin:1em
}
.container{
    
    max-width: 900px;
    margin:0 auto;
    padding:.5 1.5em;
}
.content-section container{
    padding-bottom: 10px;
}
.section-header{
    text-align: center;
    font-size: 2.5em;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color:darkslategrey;
}
.about-img{
    float:left;
    width: 200px;
    height: 200px;
    margin:15px;

}
.main-footer{
    background-color:rgb(71, 70, 70);
    color:white;
    padding-bottom: 1em;
    display:flex;
    flex-wrap: wrap;
    align-items:flex-end;
}
.footer-name{
    padding-left: 0.5em;
    flex-grow: 1;
}

.footer-nav{
    float: right;
    display: flex;
}
.footer-logos{
    padding-bottom: 10px;
    padding-right: 3em;
    text-decoration: none;
}
.footer-nav img{
    width: 35px;
    height:35px;
}

.shop-items{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.pair-single{
    padding: 0 5%;
}
.all{
    background-image: url("images/chess-background.png") ;
    opacity: 1;
    filter: brightness(90%);
}
.shop-item-price{
    flex-grow: 1;
    font-weight: bolder;
    font-size: 2em;
}
.pair-single-btn{
    padding: 5px;
    font-size: 1.5em;
    border-radius: 5px;
    float: right;
    background-color:rgb(255, 255, 255);
    border-color:rgb(142, 142, 241);
    color: black;
}
.pair-single-btn:hover{
    background-color: rgb(198, 222, 245);
}
.shop-item{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 15px;
    border: 1px solid rgb(117, 117, 117);
    margin: 25px;
}
.shop-item-name{
    text-align: center;
    display: block;
    width: 100%;
    font-size: 2em;
    font-weight: bolder;
    margin-bottom: 15px;
}
.shop-item-image{
    height: 250px;
}
.shop-item-detail{
    display: inline-block;
    align-items: center;
    padding: 5px;
    
}
.shop-item-detail li{
    list-style:circle;
    text-decoration:double;
    font-size: 1.5em;
    margin-left: 30px;
}
.home-btn{
    size: 5em;
    background-color: rgb(240, 195, 136);
    border-color:brown;
    color: black;
}
.description{
    font-size: larger;
    font-weight: bolder;
}
.main-content{
    display:flex;
}
.aside-menu{
    top: 150px;
    position:sticky;
    width: 150px;
    height: 250px;
    background-color: gold;
    opacity: 0.93;
    display: none;
}
.show{
    display: block;
}

.aside ul{
    display: block;
}
.aside ul li a{
    color:black
}

@media all and (max-width: 860px){
    .hamburguer{
        display: flex;
        cursor: pointer;
    }
    .main-header-links{
        display: none;
    }
    .large{
        font-size: 5em;
    }
    .content{
        margin:0; 
    }
}


